body {
	background-image: url("../images/background");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
.well{
	background-color: rgba(255,255,255,0.6);	
}

.panel.panel-primary{
    background-color: rgba(245,245,245,0.6);
}

input[type=radio] {
    width: 30%;
}

.panel-heading{
    background-color: rgba(245,245,245,0.6)!important;
    color: black!important;
}

p {
    color: black;
}

.jumbotron {
/*	background-image: url("../images/jumbotron");*/

    background-color: rgba(245,245,245,0.6);
    background-repeat: no-repeat;
	background-size: cover;
/*	background-attachment: fixed;*/
}



