
body {
	background-image: url("../images/background");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.well{
	background-color: rgba(255,255,255,0.6);	
}

.jumbotron {
	background-image: url("../images/jumbotron");
	background-repeat: no-repeat;
	background-size: cover;
}



