.panel.panel-primary{
    background-color: rgba(2,73,91,0.6)!important;
}

input[type=radio] {
    width: 30%;
}

.panel-heading{
    background-color: rgba(2,73,91,0.6)!important;
    color: black!important;
}

p {
    color: black;
}

.jumbotron {
	background-image: url("../images/doumit_days_header.jpg");
    background-color: rgba(2,73,91,0.6)!important;
    background-repeat: no-repeat;
	background-size: cover;
/*	background-attachment: fixed;*/
}

.panel {
    border: 0;
}

.table > thread > tr > th, .table > thread > tr > tr >td {
    border: 0;
}

