

<p>
We are planning to take a week long cruise from Seattle to Alaska and back.
</p>
<p>Link to cruise line</p>


Cruise destinations:  Seattle, at sea, Ketchikan, cruise Tracy Arm or inside passage,
Juneau, Skagway, at sea, Victoria B. C., Seattle

Sign up by February 28, 2018.
<br>
20% down to hold your reservation with Dargal Interline Worldwide.
<br>
Refund available up to 90 days prior to departure.
<br>



Departure dates - July 28/28 (7 day cruise)
                  or
                  August 4/5 (7 day cruise)

