<h4> 
<p>
For Doumit Days 2018 we are planning to take a cruise to Alaska.  
</p>
<p>
The grandparents are getting old, and the family is getting big.
Instead of roping one of us into doing all the dishes, we'll get a 
cruise line to take care of us.  
</p>

<p>
We'll leave out of Seattle to make it easy for everyone. 

The prices below include everything except excursions. 
More information about excursions will come later.

For bringing the large group,
we will receive a complementary beverage package for the 
duration of the cruise.
</p></h4>
