
<div class="col-md-6">
  <div class="well">
   <b><u> Cruise coordinator</u></b>
    <address>
    Douglas Sampson<br>
    Cell: 612-281-3526<br>
    <a href="mailto:av8flyer@hotmail.com">av8flyer@hotmail.com</a>
    </address>
  </div>
</div>

<div class="col-md-6">
  <div class="well">
  <b> <u> Interline Vacation planner or travel agent</u></b>
    <address>
    Ed Kozlowski<br>
    Dargal Interline Worldwide<br>
    Vacation Planner<br>
    Toll Free: 1-800-690-3223 Ext. 2214<br>
    <a href="mailto:ekozlowski@dargal.com">ekozlowski@dargal.com</a>
    </address>
  </div>
</div>

