
<table class="table">


  <tr><th>Sign up by</th><td> February 28th, 2018</td></tr>
  <tr><th>Refund</th><td>available until 90 days prior to departure</td></tr>
  <tr><th>Deposit</th> <td>20% to hold reservation </td> </tr>
  <tr><th>Dates</th><td>
  July 28/29 - August 4/5 <br>or  August 4/5 - August 11/12*
  </td></tr>
  <tr><th>Cruise Line</th><td>Celebrity, Princess, or Royal Caribbean</td></tr>
  <tr><th>Destination</th><td>
Seattle, at sea, Ketchikan, cruise Tracy Arm or inside passage,
Juneau, Skagway, at sea, Victoria B. C., Seattle
</td></tr>

  <tr>
    <th>Rates</th>
    <td>
      <table>
        <thead><tr> <th>Room</th>   <th class="colB" >Approximate pricing*</th>  </tr></thead>
          <tr> <td class="colA">Inside </td><td class="colB">$800</td> </tr>
          <tr> <td class="colA">Outside</td><td class="colB">$1,200</td></tr>
          <tr> <td class="colA">Balcony</td><td class="colB">$1,800</td></tr>
          <tr> <td class="colA">Family*</td><td class="colB">$2,200</td>
        </table>
    </td>
  </tr>



<tr>
  <th>Amenities</th>
  <td>

  <table>
    <thead>
      <tr> <th>Included</th>   <th class="colB">Not Included</th>  </tr>
    </thead>
      <tr> <td class="colA">food</td><td class="colB"> shore excursions</td>
      <tr> <td class="colA">drinks</td> <td class="colB">gratuity</td> </tr>
      <tr> <td class="colA">shipboard  activities</td><td class="colB">parking and airfare to Seattle</td> </tr>
      <tr> <td class="colA">two formal nights</td><td class="colB"></td></tr>
  </table>
</tr>


</table>

<small> 
* Leaving and returning Saturday or Sunday will be decided closer to the booking date.  If this is a deal breaker, please note in the comments section of the RSVP.
* Family room sleeps 4 people.
<br>
**Prices are approximate due to future dates and based on 2017 pricing. Actual pricing will be available by January 2017.
</small>
<br>

<!--/div-->





