<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="home page">
	<meta name="author" content="Nathaniel Saul/bootstrap examples">

	<title>
	Doumit Days 2018
	</title>

    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="{{STATIC_URL}}css/sticky-footer-navbar.css" rel="stylesheet" media="screen">
	<link href="{{STATIC_URL}}css/customCSS_doumit_days.css" rel="stylesheet" type="text/css"
	media="screen">

</head>

<body>


<img src="{{ STATIC_URL }}/images/doumit_days_header.jpg" width="100%";>

<br><br><br><br>


<div class="container col-center">
<div class="row">
<div class="col-lg-12">
    <div class="panel panel-primary">
		<div class="panel-heading">
            <h3>About</h3>
        </div>
		
	    <div class="panel-body">
<p>
We are planning to take a week long cruise from Seattle to Alaska and back.
<br>

To figure out which times work best and who can come, we would like to collect some
information about you and your family

</br>

Please mark your top choices for times to go.  When we have gathered enough data we will decide which dates we will book the cruise for based on your responses.
</p>
</div>
</div>
</div>    
</div>
</div>
</div>
</div>


<div class="container col-center">
<div class="row">
<div class="col-lg-12">
<div class="panel panel-primary">
	<div class="panel-heading"> <h3>Please fill in your information here</h3></div>

	<div class="panel-body">

		<form method="POST" action="/submit" >
			{% csrf_token %}
			<br>
			<table style="width:100%">
			{% for field in fam_form %}
			<tr>
				<div class="fieldWrapper">
				<td>{{ field.label_tag }}
                <div style="color:red">{{ field.errors }}</div>
                </td>
				<td>{{ field }}{% if field.help_text %}
				<p class="help">{{ field.help_text|safe }}</p>
				{% endif %}
				</td>
				</div>
			</tr>
			{% endfor %}

			</table>
			<br>
			<table style="width:100%">
			<th>Cruise start</th><th>End</th><th>Can</th><th>Can't go</th>
			{% for choice in choices.all %}
				<tr>
                    <td>{{ choice.date_start }}</td>
                    <td>{{ choice.date_end }}</td>

                    <td><input type="radio" name="c_{{choice.pk}}" value="can"/></td>
                    <td><input type="radio" name="c_{{choice.pk}}" value="cant"/></td>
				</tr>

			{% endfor %}
			<table>

			<br>
            <div class="text-center">
			<input type="submit" name="submit" 
				value="Submit" id="submit" class="btn btn-primary">
            </div>
		</form>
	</div>
	</div> <!-- end roll -->
</div> <!-- container -->
</div>
</div>
</div>






<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/jquery.min.js"><\/script>')</script>
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{{STATIC_URL}}js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{STATIC_URL}}js/ie10-viewport-bug-workaround.js"></script>
<script> 
	$(document).ready(function () {
	  $('.dropdown-toggle').dropdown();
	});
</script>

</body>


</html>








