<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="home page">
	<meta name="author" content="Nathaniel Saul/bootstrap examples">

	<title>
	Doumit Days 2018
	</title>

    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="{{STATIC_URL}}css/sticky-footer-navbar.css" rel="stylesheet" media="screen">
	<link href="{{STATIC_URL}}css/customCSS_doumit_days.css" rel="stylesheet" type="text/css"
	media="screen">



</head>

<body>
<img src="{{ STATIC_URL }}/images/doumit_days_header.jpg" width="100%";>

<br><br><br>



<div class="container-fluid col-center">
<div class="row">
<div class="col-sm-6">


    <div class="panel panel-primary">
		<div class="panel-heading">
            <h3>About</h3>
        </div>
		
	    <div class="panel-body">
<p>
We are planning to take a week long cruise from Seattle to Alaska and back.

To figure out which times work best and who can come, we would like to collect some
information about you and your family

Please mark your top choices for times to go.  When we have gathered enough data we will decide which dates we will book the cruise for based on your responses.
We are planning to take a week long cruise from Seattle to Alaska and back.
</p>



<table>
<tr>
<td>
Dates
</td>
<td>
July 29 - August 4, 2018 (7 day cruise)
</td>
</tr>


<tr>
<td>
Cruise Line 
Dates
</td>
<td>
- Celebrity, Princess, or Royal Caribbean
</td>
</tr>
<tr>
<td>
Destination 
</td>
<td>
- Seattle, Vancouver, Katchikan, Seward, ...
</td>
</tr>

<tr>
<td>
Rates
</td>
<td>
<table style="width:100%">
<tr>   <th>Room</th>    <th><sup>$</sup>&frasl;<sub>night</sub></th>  </tr>
<tr> <td>Inside</td><td>$400</td> </tr>
<tr> <td> Outside</td><td>$600</td> </tr>
<tr>  <td>Balcony</td><td> $800</td></tr>
<tr> <td>Family*</td><td> $1,100</td>
</table>

</td>

</tr>

</table>



Included - food, drinks, shipboard activities, two formal nights?

Not included - shore excursions, gratuity, parking and airfare to Seattle

Sign up by February 28th, 2018

Refund available until _____?


Questions?

Link to cruise line
 






        </div><!-- end panel body -->
     </div>   <!-- end panel -->


</div> <!-- end col-sm-8 -->





<div class="col-sm-6">
<div class="panel panel-primary">
	<div class="panel-heading"> 
    <h3>RSVP</h3></div>
	<div class="panel-body">
        {% include "rsvp.html"  %}
    </div>
    </div>
</div> 
</div>


</div>
</div>



<div class="container-fluid col-center">
    <div class="row">
        <div class="col-lg-12">
        {% include "roster.html" %}
        </div>
    </div>
</div>



{% include "core.html" %}


<!--
<script>
    function isScrolledTo(elem) {
        var docViewTop = $(window).scrollTop();
        var docViewBottom = docViewTop + $(window).height();

        var elemTop = $(elem).offset().top;
        var elemBottom = elemTop + $(elem).height();

        return ((elemTop <= docViewTop));
    }


    var sticky = $('#sticky');
    var catcher = $('#catcher');

    $(window).scroll(function() {
        if(isScrolledTo(sticky)) {
            sticky.css('position', 'fixed');
            sticky.css('top','0px');
        }
        var stopHeight = catcher.offset().top + catcher.height();
        if( stopHeight > sticky.offset().top) {
            sticky.css('position','absolute');
            sticky.css('top', stopHeight);
        }
    });


</script>
-->

<center>
<footer class="footer">
  <div class="container">
    <p class="text-muted">
    	Saulgill LLC | 2016  
    </p>
  </div>
</footer>
</center>

</body>


</html>








