<div class="panel panel-primary">
	<div class="panel-heading"><h3>Results</h3></div>
	
	<div class="panel-body">
<!--
{% for i in pie_data %}
    <div class="col-lg-4">
    <div id="piechart{{ forloop.counter0 }}" style="width: 400px; height: 400px;"></div>
    </div>
{% endfor %}
-->

		<table class="table">
        <thead>
		    <tr>
            <th>Name</th>
			<th># Family members</th>
			<th>Email</th>
			</tr>
            </thead>
            {% for family in results %}
				<tr>
					<td>{{ family.rep_name }}</td>
					<td>{{ family.num_members }}</td>
					<td>{{ family.email }}</td>
				</tr>
				{% endfor %}
		</table>

	</div>
</div>

