{% load crispy_forms_tags %}

<form method="POST" action="/submit">
    
  {% csrf_token %}
    
<table style="width:100%"> 
    
   <!-- break out table --> 
 
<tr>
  <td>  {{ fam_form.rep_name.label_tag }}  </td>
  <td>  {{ fam_form.rep_name }}  </td>
</tr>

<tr>
  <td>  {{ fam_form.email.label_tag }}  </td>
  <td>  {{ fam_form.email }}  </td>
</tr>

<tr>
  <td>  {{ fam_form.rsvp.label_tag }}  </td>
  <td>  {{ fam_form.rsvp }}  </td>
</tr>

<tr>
  <td>  {{ fam_form.date_preference.label_tag }}  </td>
  <td>  {{ fam_form.date_preference }}  </td>
</tr>

<tr>
  <td>  {{ fam_form.num_members.label_tag }}  </td>
  <td>  {{ fam_form.num_members }}  </td>
</tr>

<tr>
  <td>  {{ fam_form.num_rooms.label_tag }}  </td>
  <td>  {{ fam_form.num_rooms }}  </td>
</tr>

  <td colspan=2>  {{ fam_form.comments.label_tag }} 
  {{ fam_form.comments }}  </td>



   
</table>
    
    <div class="text-center">
    <input type="submit" name="submit" 
        value="Submit" id="submit" class="btn btn-primary">
    </div>
</form>
